<main class="container-fluid m-3 text-center">
  <section class="registerSection">
    <div class="registerDiv">
      <span class="logo"></span>
      <h1 class="registerTitle">Register</h1>
      <form class="registerForm" id="registerForm">
         <label for="nombre-cliente">Nombre del usuario</label><br />
        <input
            type="text"
            name="firstName"
            id="firstNname"
            placeholder="introduzca su nombre"
            required
        /><br />
        <label for="lastName">Apellido</label><br />
        <input
            type="text"
            name="lastName"
            id="lastName"
            placeholder="introduzca su apellido"
            required
        /><br />
        <label for="Age">Edad</label><br />
        <input
            type="text"
            name="edad"
            id="edad"
            placeholder="introduzca su edad"
            required
        /><br />
        <label for="email">Email</label><br />
        <input
            type="email"
            name="email"
            id="email"
            placeholder="introduzca su correo electronico"
            required
        />
        <br />
        <label for="password">Contrasena</label><br />
        <input
            type="password"
            name="password"
            id="password"
            placeholder="introduzca su contrasena"
            required
        />
        <br />
        <button class="mt-3" type="submit" id="registerButton">
            Registrar
        </button>
        <button>
          <a href="/login" style="color: black;">ir al login</a>
        </button>
    </div>
  </section>
</main>

<script src="./js/register.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
